# Order Service Configuration
PORT=3004
NODE_ENV=development

# Database
MONGODB_URI=mongodb://localhost:27017/ffdd_orders

# Service URLs
USER_SERVICE_URL=http://localhost:3002
RESTAURANT_SERVICE_URL=http://localhost:3003
DRONE_SERVICE_URL=http://localhost:3005
PAYMENT_SERVICE_URL=http://localhost:3006

# Client URL
CLIENT_URL=http://localhost:5173
